<div>
  <h2>One Way Data Binding (Controller to View)</h2>
  <h4>{{title}}</h4>
  <input type="text" [value]="title"/>
  <img [src]="gurl"/>
  <button class="btn" (click)="ButtonEvent()"> 
    Click Here
  </button>
  </div>
  <div>
  <h3>Binding Types</h3> 
  <h3>Two Way Data Binding</h3>
  <h3>{{myName}} </h3>
  <input type="text" placeholder="Enter text" [(ngModel)]="myName"> 
  <br> 
  </div>
  <div>
     <div>
       <h2> Event handling</h2>
     </div>
     <div>
       <h3>Text Box Key Enter</h3>
        <input type="text" [value]="myName" (keyup.enter)="handlemyName($event)"/>
     </div>
    <h4>{{myName}}</h4>
  </div>
  <div>
    <div>
      <h3>Text Box Key Entry</h3>
      <input type="text" [value]="institute" (input)="keyEntryfn($event)"/>
    </div>
   <h4>{{institute}}</h4>
 </div>
 <div>
  <div>
    <h3>Text Area keyupshift+A</h3>
    <textarea ng-model="t2" [value]="myName" (keyup.Shift.A)="keyEntryfn($event)"></textarea>
  </div>
 <h4>{{myName}}</h4>
</div>

<div>
  <div>
    <h2> TEMPLATE REFERENCE VARIABLE</h2>
  </div>
  <div>
    <h3>Text Box</h3>
     <input type="text" [value]="company" #comp/>
  </div>
  <div>
    <button (click)="handleSubmit(comp.value)">Sumit</button>
  </div>
 <h4>Company Name: {{comp.value}}</h4>
 <div>
  <h3>Text Area</h3>
   <textarea ng-model="t1" [value]="company" #comp1></textarea>
</div>
<div>
  <button (click)="handleSubmit(comp1.value)">Sumit</button>
</div>
<h4>Company Name: {{comp1.value}}</h4>
</div>
<div>
  <h3>Drop Down</h3>
   <select name="s1" [(ngModel)]="fruits" #fruit>
     <option value="Apple" >Apple</option>
     <option value="Banana">Banana</option>
     <option value="Mango">Mango</option>
   </select>
<h4>Selected Value : {{fruit.value}} </h4>
<div>
  <button (click)="handleDisplay(fruit.value)">Sumit</button><br><br>
</div>
</div>
<div>
  <div class="vl">
    <h2><u>Parent to Child Component</u></h2>
    <div>
      <app-grid [products]="myproduct"></app-grid>
    </div>
  </div>
</div>
